In [1]:
print("Hello")

Hello

In [4]:
print("")

._. ._.

In [5]:
def func_kwarg(**data):
    print("\n Data type of argument:",type(data))

    for key ,value in data.items():
        print("{} is {}".format(key,value))

func_kwarg(Firstname="Sita", Lastname="Sharma",Age=22, Phone=1234567890)
func_kwarg(Firstname="John", Lastname="Norton",Email="john@nomail.com", Country="India", Age=25, Phone=98765432120)

 Data type of argument: <class 'dict'>
Firstname is Sita
Lastname is Sharma
Age is 22
Phone is 1234567890

 Data type of argument: <class 'dict'>
Firstname is John
Lastname is Norton
Email is john@nomail.com
Country is India
Age is 25
Phone is 98765432120

In [9]:
a=10
def f11():
    a=20
    print(a)
def f22():
    print(a)

f11()
f22()

20
10

In [10]:
#calling a function with a function
def test_prime(n):
    if(n==1):
        return False
    elif (n==2):
        return True
    else:
        for x in range(2,n//2):
            if (n%x==0):
                return False
            return True
print(test_prime(13))
print(test_prime(15))
print(test_prime(23))

True
True
True

In [14]:
def capitalize(text):
    return text.upper()

def greet(name):
    return f"Hello,{name}!"

def greet_and_capitalize(name):
    n=capitalize(name)
    return greet(n)

result=greet_and_capitalize("Alice")
print("Final Result:",result)

Final Result: Hello,ALICE!

In [17]:
def x(n):
    print(n+5)
x(6)

11

In [23]:
def change(a,b):
    a="Smith"
    b[0]=25
name="Tom"
lst=[10,20,30]
print("Values of name and 1st before calling function", name,lst)
change(name,lst)
print("Values of name and 1st after calling function", name,lst)

Values of name and 1st before calling function Tom [10, 20, 30]
Values of name and 1st after calling function Tom [25, 20, 30]

In [25]:

import math 

print(math.ceil(1.4))
print(math.fabs(-67.43))
print(math.factorial(5))
print(math.)

In [27]:
#this is incomplete
import math
print(math.fmod(20,4))
print(math.fmod(20,3))
print(math.fmod(-10,3))
print(math.fsum([1,2,3,4,5]))
print(math.fsum(20,4))
print(math.fsum(20,4))
print(math.fsum({1:"one",2:"two",3:3,4:4}))
print(math.fsum({1,2,3,4,5}))

0.0
2.0
-1.0
15.0

TypeError: math.fsum() takes exactly one argument (2 given)

In [37]:
a=[20,30,40,50]
a.append(45)
a.insert(1,122)
print(a)

[20, 122, 30, 40, 50, 45]

In [47]:
a=[20,30,40,50]
a.pop(3)
print(a)

[20, 30, 40]

In [ ]:
Devdarshan is very shaana boy he keeps doing masti all the time in the class he is the most muscular and handsome boy