In [1]:
list=[1,2,9,2,3,4,5,1,2,5,6,7,8,9]
dup=[]
for a in list:
    n=list.count(a)
    if n>1:
        if dup.count(a)==0:
            dup.append(a)
print(dup)

[1, 2, 9, 5]

In [2]:
print("Hello World")

Hello World

In [25]:
s1=tuple("Hello")
print(s1)

('H', 'e', 'l', 'l', 'o')

In [29]:
#list
s="Learning Python is very,very easy!!!"
l=s.split()
print(l)
print(type(l))

['Learning', 'Python', 'is', 'very,very', 'easy!!!']
<class 'list'>

In [30]:
id=[1,2,3]
emp_name=["Ram","John","Sam"]
num_emp=3
emp_list=[id,emp_name,num_emp]

In [31]:
ls3=[10,20,30,40,50,60,70,80,90]
print(ls3)
print(ls3[1])
print(ls3[1:5])
print(ls3[:])
print(ls3[3:40])
print(ls3[-4:-1:1])
print(ls3[-5:-20:-1])

[10, 20, 30, 40, 50, 60, 70, 80, 90]
20
[20, 30, 40, 50]
[10, 20, 30, 40, 50, 60, 70, 80, 90]
[40, 50, 60, 70, 80, 90]
[60, 70, 80]
[50, 40, 30, 20, 10]

In [32]:
ls3=[10,20,30,40,50,60,70,80,90]
print(ls3)
print(ls3[1])
print(ls3[1:5])
print(ls3[:])
print(ls3[3:40])
print(ls3[-4:-1:1])
print(ls3[-5:-20:-1])

10 20 30 40 50 60 70 80 90

In [33]:
id=[1,2,3]
emp_name=['Ram','john','sam']
num_emp=3
emp_list=[id,emp_name, num_emp]
print(emp_list)
emp_list[2]=2
emp_list[1][1]="Karan"
print(emp_list)
emp_list[1][0:2]=["Hari",'geeta']
print(emp_list)

[[1, 2, 3], ['Ram', 'john', 'sam'], 3]
[[1, 2, 3], ['Ram', 'Karan', 'sam'], 2]
[[1, 2, 3], ['Hari', 'geeta', 'sam'], 2]

In [34]:
list1=[]
list1.append("A")
list1.append("C")
list1.append("D")
print(list1)

['A', 'C', 'D']

In [35]:

motorcycles=['honda','yamaha','suzuki','access','tvs']
print(motorcycles)
del motorcycles[0]
print(motorcycles)
del motorcycles[1:3]
print(motorcycles)
del motorcycles

['honda', 'yamaha', 'suzuki', 'access', 'tvs']
['yamaha', 'suzuki', 'access', 'tvs']
['yamaha', 'tvs']

In [36]:

motorcycles=['honda','yamaha','suzuki','access','tvs']
print(motorcycles)
popped_motorcycle=motorcycles.pop()
print(motorcycles)
print("The last motorcycle i owned was a " +popped_motorcycle.title()+".")

['honda', 'yamaha', 'suzuki', 'access', 'tvs']
['honda', 'yamaha', 'suzuki', 'access']
The last motorcycle i owned was a Tvs.

In [37]:
list4=[10,20,30]
print(list4)
list4.insert(1,40)
print(list4)
list4.insert(-10,150)
print(list4)
list4.insert(1,(45,55))
print(list4)

[10, 20, 30]
[10, 40, 20, 30]
[150, 10, 40, 20, 30]
[150, (45, 55), 10, 40, 20, 30]

In [ ]:
there